<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @usagers_daily_routine.day %>
</p>

<p>
  <b>Presence:</b>
  <%= @usagers_daily_routine.presence %>
</p>

<p>
  <b>Meal:</b>
  <%= @usagers_daily_routine.meal %>
</p>

<p>
  <b>Routine:</b>
  <%= @usagers_daily_routine.routine_id %>
</p>


<%= link_to 'Edit', edit_usagers_daily_routine_path(@usagers_daily_routine) %> |
<%= link_to 'Back', usagers_daily_routines_path %>
