<h1>Listing usagers_routines</h1>

<table>
  <tr>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usagers_routines.each do |usagers_routine| %>
  <tr>
    <td><%= usagers_routine.owner_id %></td>
    <td><%= link_to 'Show', usagers_routine %></td>
    <td><%= link_to 'Edit', edit_usagers_routine_path(usagers_routine) %></td>
    <td><%= link_to 'Destroy', usagers_routine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Routine', new_usagers_routine_path %>
