<% if @info %>
    <div class="info">
        <%= @info %>
    </div>
<% end %>

<%= form_for @usager do |f| %>
	<div class='attribute'>
		<label>Prénom</label>
		<%= f.text_field :given_name %>
	</div>
	<div class='attribute'>
		<label>Nom</label>
		<%= f.text_field :family_name %>
	</div>
	<div class='attribute'>
		<label>Date de naissance</label>
		<%= f.text_field :birth_date %>
		<pre>(Format : aaaa-mm-jj)</pre>
	</div>

    <h3>Planning</h3>
    <div class="attribute">
      <div>
        <%= render partial: 'usagers/routines/form', locals: {routine: @usager.routine} %>
      </div>
    </div>
    
	<%= f.submit 'Enregistrer', :class => 'button' %>
<% end %>

<%= render :partial => 'usagers/links' %>
