<%= form_for @usager do |f| %>
	<div class='attribute'>
		<label>Prénom</label>
		<%= f.text_field :given_name %>
	</div>
	<div class='attribute'>
		<label>Nom</label>
		<%= f.text_field :family_name %>
	</div>
	<div class='attribute'>
		<label>Date de naissance</label>
		<%= f.text_field :birth_date %>
		<pre>(Format : aaaa-mm-jj)</pre>
	</div>
	<%= f.submit 'Enregistrer', :class => 'button' %>
<% end %>

<%= link_to 'Retour à la liste', usagers_path %>
