<%= stylesheet_link_tag "usagers" %>

<h1>Liste des usagers</h1>
<table>
  <tbody>
    <% @usagers.each do |usager| %>
    	<tr>
          <td><%= link_to usager.full_name, usager_path(usager) %></td>
          <td><%= link_to 'Editer', edit_usager_path(usager) %></td>
          <td><%= link_to 'Supprimer', usager_path(usager), :method => :delete %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ajouter un Usager', new_usager_path, :class => 'button' %>

<%= link_to 'Agenda', agenda_path %>
